<div *ngIf="this.users.length > 0">
    <div *ngIf="displayedEvents">
        <UsersWithEvents-component 
            (onSetUser)="onSetUser($event)" 
            [users]="users" 
            [displayedEvents]="displayedEvents" 
            [displayedColumns]="displayedColumnsWithEvents" 
            [selectedRowID]="selectedRowID">
        </UsersWithEvents-component>
        <Events-component 
            (onSetUser)="onSetUser($event)" 
            (onDeleteEvents)="onDeleteEvents($event)"
            (onCreateDescription)="onCreateDescription($event)"
            [user]="userWhoseEventsAreSelected" 
            [displayedColumns]="displayedColumnsEvents">
        </Events-component>
        
    </div>
    <div *ngIf="!displayedEvents">
        <Users-component 
            (onSetUser)="onSetUser($event)"
            (onSelectedRowIDChange)="onSelectedRowIDChange($event)"
            [users]="users" 
            [displayedEvents]="displayedEvents" 
            [displayedColumns]="displayedColumnsWithoutEvents" 
            [selectedRowID]="selectedRowID">
        </Users-component>
    </div>
</div>
<p *ngIf="this.users.length == 0">
    Загрузка...
</p>