h2 {
    display : inline-block;
}

b {
    display : inline-block;
}

button {
    margin-left : 10px;
}

confirm {
    display : inline-block;
}

mat-form-field {
    margin-left : 10px;
}