<table mat-table [dataSource]="users" width ="100%">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Имя узла </th>
        <td mat-cell *matCellDef="let item" (click) = "setUser(item)"> {{item.name}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Дата последней статистики </th>
        <td mat-cell *matCellDef="let item" (click) = "setUser(item)"> {{item.date}} </td>
    </ng-container>
    <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> Версия Client </th>
        <td mat-cell *matCellDef="let item" (click) = "setUser(item)"> {{item.version}} </td>
    </ng-container>
    <ng-container matColumnDef="os">
        <th mat-header-cell *matHeaderCellDef> Тип устройства </th>
        <td mat-cell *matCellDef="let item" (click) = "setUser(item)"> {{item.os}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithoutEvents"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsWithoutEvents;"></tr>
</table>