.highlight{
  background: #aaaaaa;
}

.confirm {
  display : inline-block;
  margin-left: 5px;
}

.cancel {
  margin-left: 5px;
}

.users {
  width : 40%;
  display : inline-block;
}

.events {
  width : 50%;
  float : right;
}

h2 {
  display : inline-block;
}

.delete {
  margin-left: 5px;
}

.edit {
  margin-left: 5px;
}